body {
    margin: 0;
    background-color: purple;
    color: black;
}

a:link {
    color: white;
}

a:hover {
    color: lightgrey;
}

a:active {
    color: grey;
}

a:visited {
    color: darkgrey;
}
